# Python
__pycache__/
*.py[cod]
*.pyo
*.so
*.egg-info/
build/
dist/
.venv*/
.venv/
venv/
ENV/
.pytest_cache/
.coverage
coverage.xml
htmlcov/
.mypy_cache/
.pyre/
.pytype/
.cache/
ruff_cache/
.mruff_cache/

# Editors/OS
.DS_Store
.idea/
.vscode/
Thumbs.db

# Logs
logs/
*.log

# Env & secrets
.env
.env.*
secrets/
aws/

# Project artefacts
babyshield_test.db
local_reports.db
test_*.db
generated_reports/
openapi.json
ecs_logs.txt
rds-logs.json
dsar-req_*.json
dsar-req_*.zip

# Docker
docker/*.env
