{
    "openapi":  "3.1.0",
    "info":  {
                 "title":  "BabyShield API",
                 "description":  "\n        BabyShield API provides access to product safety and recall information from multiple international agencies.\n        \n        ## Authentication\n        Currently, all endpoints are public and do not require authentication in staging environment.\n        \n        ## Response Format\n        All responses follow a consistent envelope format:\n        - Success: `{ \"success\": true, \"data\": \u003cpayload\u003e }`\n        - Error: `{ \"success\": false, \"error\": { \"code\": \"\u003cERROR_CODE\u003e\", \"message\": \"\u003cdescription\u003e\" } }`\n        \n        ## Error Codes\n        - `BAD_REQUEST`: Invalid request parameters\n        - `NOT_FOUND`: Resource not found\n        - `UPSTREAM_TIMEOUT`: External agency API timeout\n        - `INTERNAL_ERROR`: Internal server error\n        \n        ## Pagination\n        Search endpoints support pagination using `cursor` parameter. Include the `nextCursor` from the response to fetch the next page.\n        \n        ## Rate Limiting\n        No rate limiting is currently enforced in staging environment.\n        ",
                 "version":  "1.0.0"
             },
    "servers":  [
                    {
                        "url":  "https://babyshield.cureviax.ai",
                        "description":  "Production"
                    },
                    {
                        "url":  "http://localhost:8001",
                        "description":  "Local Development"
                    }
                ],
    "paths":  {
                  "/api/v1/chat/explain-result":  {
                                                      "post":  {
                                                                   "tags":  [
                                                                                "chat"
                                                                            ],
                                                                   "summary":  "Chat Explain Result",
                                                                   "description":  "Explain scan results endpoint",
                                                                   "operationId":  "chat_explain_result_api_v1_chat_explain-result",
                                                                   "parameters":  [
                                                                                      {
                                                                                          "name":  "scan_id",
                                                                                          "in":  "query",
                                                                                          "required":  true,
                                                                                          "schema":  {
                                                                                                         "type":  "string",
                                                                                                         "title":  "Scan Id"
                                                                                                     }
                                                                                      },
                                                                                      {
                                                                                          "name":  "user_query",
                                                                                          "in":  "query",
                                                                                          "required":  true,
                                                                                          "schema":  {
                                                                                                         "type":  "string",
                                                                                                         "title":  "User Query"
                                                                                                     }
                                                                                      },
                                                                                      {
                                                                                          "name":  "conversation_id",
                                                                                          "in":  "query",
                                                                                          "required":  false,
                                                                                          "schema":  {
                                                                                                         "anyOf":  [
                                                                                                                       {
                                                                                                                           "type":  "string"
                                                                                                                       },
                                                                                                                       {
                                                                                                                           "type":  "null"
                                                                                                                       }
                                                                                                                   ],
                                                                                                         "title":  "Conversation Id"
                                                                                                     }
                                                                                      }
                                                                                  ],
                                                                   "responses":  {
                                                                                     "200":  {
                                                                                                 "description":  "Successful Response",
                                                                                                 "content":  {
                                                                                                                 "application/json":  {
                                                                                                                                          "schema":  {

                                                                                                                                                     }
                                                                                                                                      }
                                                                                                             }
                                                                                             },
                                                                                     "422":  {
                                                                                                 "description":  "Validation Error",
                                                                                                 "content":  {
                                                                                                                 "application/json":  {
                                                                                                                                          "schema":  {
                                                                                                                                                         "$ref":  "#/components/schemas/HTTPValidationError"
                                                                                                                                                     }
                                                                                                                                      }
                                                                                                             }
                                                                                             },
                                                                                     "400":  {
                                                                                                 "description":  "Bad Request",
                                                                                                 "content":  {
                                                                                                                 "application/json":  {
                                                                                                                                          "schema":  {
                                                                                                                                                         "$ref":  "#/components/schemas/ErrorResponse"
                                                                                                                                                     },
                                                                                                                                          "example":  {
                                                                                                                                                          "success":  false,
                                                                                                                                                          "error":  {
                                                                                                                                                                        "code":  "BAD_REQUEST",
                                                                                                                                                                        "message":  "Missing required parameter: product"
                                                                                                                                                                    }
                                                                                                                                                      }
                                                                                                                                      }
                                                                                                             }
                                                                                             }
                                                                                 }
                                                               }
                                                  },
                  "/api/v1/chat/conversation":  {
                                                    "post":  {
                                                                 "tags":  [
                                                                              "chat"
                                                                          ],
                                                                 "summary":  "Chat Conversation",
                                                                 "description":  "Main conversation endpoint",
                                                                 "operationId":  "chat_conversation_api_v1_chat_conversation",
                                                                 "requestBody":  {
                                                                                     "content":  {
                                                                                                     "application/json":  {
                                                                                                                              "schema":  {
                                                                                                                                             "$ref":  "#/components/schemas/ChatRequest"
                                                                                                                                         }
                                                                                                                          }
                                                                                                 },
                                                                                     "required":  true
                                                                                 },
                                                                 "responses":  {
                                                                                   "200":  {
                                                                                               "description":  "Successful Response",
                                                                                               "content":  {
                                                                                                               "application/json":  {
                                                                                                                                        "schema":  {

                                                                                                                                                   }
                                                                                                                                    }
                                                                                                           }
                                                                                           },
                                                                                   "422":  {
                                                                                               "description":  "Validation Error",
                                                                                               "content":  {
                                                                                                               "application/json":  {
                                                                                                                                        "schema":  {
                                                                                                                                                       "$ref":  "#/components/schemas/HTTPValidationError"
                                                                                                                                                   }
                                                                                                                                    }
                                                                                                           }
                                                                                           },
                                                                                   "400":  {
                                                                                               "description":  "Bad Request",
                                                                                               "content":  {
                                                                                                               "application/json":  {
                                                                                                                                        "schema":  {
                                                                                                                                                       "$ref":  "#/components/schemas/ErrorResponse"
                                                                                                                                                   },
                                                                                                                                        "example":  {
                                                                                                                                                        "success":  false,
                                                                                                                                                        "error":  {
                                                                                                                                                                      "code":  "BAD_REQUEST",
                                                                                                                                                                      "message":  "Missing required parameter: product"
                                                                                                                                                                  }
                                                                                                                                                    }
                                                                                                                                    }
                                                                                                           }
                                                                                           }
                                                                               }
                                                             }
                                                },
                  "/api/v1/chat/flags":  {
                                             "get":  {
                                                         "tags":  [
                                                                      "chat"
                                                                  ],
                                                         "summary":  "Chat Flags",
                                                         "description":  "Get chat feature flags",
                                                         "operationId":  "chat_flags_api_v1_chat_flags",
                                                         "responses":  {
                                                                           "200":  {
                                                                                       "description":  "Successful Response",
                                                                                       "content":  {
                                                                                                       "application/json":  {
                                                                                                                                "schema":  {

                                                                                                                                           }
                                                                                                                            }
                                                                                                   }
                                                                                   },
                                                                           "400":  {
                                                                                       "description":  "Bad Request",
                                                                                       "content":  {
                                                                                                       "application/json":  {
                                                                                                                                "schema":  {
                                                                                                                                               "$ref":  "#/components/schemas/ErrorResponse"
                                                                                                                                           },
                                                                                                                                "example":  {
                                                                                                                                                "success":  false,
                                                                                                                                                "error":  {
                                                                                                                                                              "code":  "BAD_REQUEST",
                                                                                                                                                              "message":  "Missing required parameter: product"
                                                                                                                                                          }
                                                                                                                                            }
                                                                                                                            }
                                                                                                   }
                                                                                   }
                                                                       }
                                                     }
                                         },
                  "/api/v1/chat/demo":  {
                                            "post":  {
                                                         "tags":  [
                                                                      "chat"
                                                                  ],
                                                         "summary":  "Chat Demo",
                                                         "description":  "Demo endpoint without database requirement",
                                                         "operationId":  "chat_demo_api_v1_chat_demo",
                                                         "parameters":  [
                                                                            {
                                                                                "name":  "user_query",
                                                                                "in":  "query",
                                                                                "required":  true,
                                                                                "schema":  {
                                                                                               "type":  "string",
                                                                                               "title":  "User Query"
                                                                                           }
                                                                            }
                                                                        ],
                                                         "responses":  {
                                                                           "200":  {
                                                                                       "description":  "Successful Response",
                                                                                       "content":  {
                                                                                                       "application/json":  {
                                                                                                                                "schema":  {

                                                                                                                                           }
                                                                                                                            }
                                                                                                   }
                                                                                   },
                                                                           "422":  {
                                                                                       "description":  "Validation Error",
                                                                                       "content":  {
                                                                                                       "application/json":  {
                                                                                                                                "schema":  {
                                                                                                                                               "$ref":  "#/components/schemas/HTTPValidationError"
                                                                                                                                           }
                                                                                                                            }
                                                                                                   }
                                                                                   },
                                                                           "400":  {
                                                                                       "description":  "Bad Request",
                                                                                       "content":  {
                                                                                                       "application/json":  {
                                                                                                                                "schema":  {
                                                                                                                                               "$ref":  "#/components/schemas/ErrorResponse"
                                                                                                                                           },
                                                                                                                                "example":  {
                                                                                                                                                "success":  false,
                                                                                                                                                "error":  {
                                                                                                                                                              "code":  "BAD_REQUEST",
                                                                                                                                                              "message":  "Missing required parameter: product"
                                                                                                                                                          }
                                                                                                                                            }
                                                                                                                            }
                                                                                                   }
                                                                                   }
                                                                       }
                                                     }
                                        },
                  "/api/v1/auth/password-reset":  {
                                                      "post":  {
                                                                   "tags":  [
                                                                                "auth-deprecated"
                                                                            ],
                                                                   "summary":  "Password Reset Deprecated",
                                                                   "description":  "Old password reset endpoint - deprecated\nReplaced by /api/v1/auth/password-reset/request",
                                                                   "operationId":  "password_reset_deprecated_api_v1_auth_password-reset",
                                                                   "responses":  {
                                                                                     "200":  {
                                                                                                 "description":  "Successful Response",
                                                                                                 "content":  {
                                                                                                                 "application/json":  {
                                                                                                                                          "schema":  {

                                                                                                                                                     }
                                                                                                                                      }
                                                                                                             }
                                                                                             },
                                                                                     "400":  {
                                                                                                 "description":  "Bad Request",
                                                                                                 "content":  {
                                                                                                                 "application/json":  {
                                                                                                                                          "schema":  {
                                                                                                                                                         "$ref":  "#/components/schemas/ErrorResponse"
                                                                                                                                                     },
                                                                                                                                          "example":  {
                                                                                                                                                          "success":  false,
                                                                                                                                                          "error":  {
                                                                                                                                                                        "code":  "BAD_REQUEST",
                                                                                                                                                                        "message":  "Missing required parameter: product"
                                                                                                                                                                    }
                                                                                                                                                      }
                                                                                                                                      }
                                                                                                             }
                                                                                             }
                                                                                 },
                                                                   "deprecated":  true
                                                               }
                                                  },
                  "/api/v1/auth/password-reset/confirm":  {
                                                              "post":  {
                                                                           "tags":  [
                                                                                        "Authentication"
                                                                                    ],
                                                                           "summary":  "Confirm Password Reset",
                                                                           "description":  "Confirm password reset with token and new password",
                                                                           "operationId":  "confirm_password_reset_api_v1_auth_password-reset_confirm",
                                                                           "requestBody":  {
                                                                                               "content":  {
                                                                                                               "application/json":  {
                                                                                                                                        "schema":  {
                                                                                                                                                       "$ref":  "#/components/schemas/PasswordResetConfirm"
                                                                                                                                                   }
                                                                                                                                    }
                                                                                                           },
                                                                                               "required":  true
                                                                                           },
                                                                           "responses":  {
                                                                                             "200":  {
                                                                                                         "description":  "Successful Response",
                                                                                                         "content":  {
                                                                                                                         "application/json":  {
                                                                                                                                                  "schema":  {
                                                                                                                                                                 "$ref":  "#/components/schemas/api__schemas__common__ApiResponse"
                                                                                                                                                             }
                                                                                                                                              }
                                                                                                                     }
                                                                                                     },
                                                                                             "422":  {
                                                                                                         "description":  "Validation Error",
                                                                                                         "content":  {
                                                                                                                         "application/json":  {
                                                                                                                                                  "schema":  {
                                                                                                                                                                 "$ref":  "#/components/schemas/HTTPValidationError"
                                                                                                                                                             }
                                                                                                                                              }
                                                                                                                     }
                                                                                                     },
                                                                                             "400":  {
                                                                                                         "description":  "Bad Request",
                                                                                                         "content":  {
                                                                                                                         "application/json":  {
                                                                                                                                                  "schema":  {
                                                                                                                                                                 "$ref":  "#/components/schemas/ErrorResponse"
                                                                                                                                                             },
                                                                                                                                                  "example":  {
                                                                                                                                                                  "success":  false,
                                                                                                                                                                  "error":  {
                                                                                                                                                                                "code":  "BAD_REQUEST",
                                                                                                                                                                                "message":  "Missing required parameter: product"
                                                                                                                                                                            }
                                                                                                                                                              }
                                                                                                                                              }
                                                                                                                     }
                                                                                                     }
                                                                                         }
                                                                       }
                                                          },
                  "/api/v1/auth/register":  {
                                                "post":  {
                                                             "tags":  [
                                                                          "Authentication"
                                                                      ],
                                                             "summary":  "Register",
                                                             "description":  "Register a new user\nLimited to 5 registrations per hour per IP",
                                                             "operationId":  "register_api_v1_auth_register",
                                                             "requestBody":  {
                                                                                 "content":  {
                                                                                                 "application/json":  {
                                                                                                                          "schema":  {
                                                                                                                                         "$ref":  "#/components/schemas/UserRegister"
                                                                                                                                     }
                                                                                                                      }
                                                                                             },
                                                                                 "required":  true
                                                                             },
                                                             "responses":  {
                                                                               "200":  {
                                                                                           "description":  "Successful Response",
                                                                                           "content":  {
                                                                                                           "application/json":  {
                                                                                                                                    "schema":  {
                                                                                                                                                   "$ref":  "#/components/schemas/UserResponse"
                                                                                                                                               }
                                                                                                                                }
                                                                                                       }
                                                                                       },
                                                                               "422":  {
                                                                                           "description":  "Validation Error",
                                                                                           "content":  {
                                                                                                           "application/json":  {
                                                                                                                                    "schema":  {
                                                                                                                                                   "$ref":  "#/components/schemas/HTTPValidationError"
                                                                                                                                               }
                                                                                                                                }
                                                                                                       }
                                                                                       },
                                                                               "400":  {
                                                                                           "description":  "Bad Request",
                                                                                           "content":  {
                                                                                                           "application/json":  {
                                                                                                                                    "schema":  {
                                                                                                                                                   "$ref":  "#/components/schemas/ErrorResponse"
                                                                                                                                               },
                                                                                                                                    "example":  {
                                                                                                                                                    "success":  false,
                                                                                                                                                    "error":  {
                                                                                                                                                                  "code":  "BAD_REQUEST",
                                                                                                                                                                  "message":  "Missing required parameter: product"
                                                                                                                                                              }
                                                                                                                                                }
                                                                                                                                }
                                                                                                       }
                                                                                       }
                                                                           }
                                                         }
                                            },
                  "/api/v1/auth/token":  {
                                             "post":  {
                                                          "tags":  [
                                                                       "Authentication"
                                                                   ],
                                                          "summary":  "Login",
                                                          "description":  "Login endpoint - returns JWT tokens\nAccepts form-urlencoded data (application/x-www-form-urlencoded)\nUsername field should contain email\n\nExamples:\n- Content-Type: application/x-www-form-urlencoded\n- username: \"user@example.com\"\n- password: \"securepassword123\"",
                                                          "operationId":  "login_api_v1_auth_token",
                                                          "requestBody":  {
                                                                              "content":  {
                                                                                              "application/x-www-form-urlencoded":  {
                                                                                                                                        "schema":  {
                                                                                                                                                       "$ref":  "#/components/schemas/Body_login_api_v1_auth_token"
                                                                                                                                                   }
                                                                                                                                    }
                                                                                          },
                                                                              "required":  true
                                                                          },
                                                          "responses":  {
                                                                            "200":  {
                                                                                        "description":  "Successful Response",
                                                                                        "content":  {
                                                                                                        "application/json":  {
                                                                                                                                 "schema":  {
                                                                                                                                                "$ref":  "#/components/schemas/Token"
                                                                                                                                            }
                                                                                                                             }
                                                                                                    }
                                                                                    },
                                                                            "422":  {
                                                                                        "description":  "Validation Error",
                                                                                        "content":  {
                                                                                                        "application/json":  {
                                                                                                                                 "schema":  {
                                                                                                                                                "$ref":  "#/components/schemas/HTTPValidationError"
                                                                                                                                            }
                                                                                                                             }
                                                                                                    }
                                                                                    },
                                                                            "400":  {
                                                                                        "description":  "Bad Request",
                                                                                        "content":  {
                                                                                                        "application/json":  {
                                                                                                                                 "schema":  {
                                                                                                                                                "$ref":  "#/components/schemas/ErrorResponse"
                                                                                                                                            },
                                                                                                                                 "example":  {
                                                                                                                                                 "success":  false,
                                                                                                                                                 "error":  {
                                                                                                                                                               "code":  "BAD_REQUEST",
                                                                                                                                                               "message":  "Missing required parameter: product"
                                                                                                                                                           }
                                                                                                                                             }
                                                                                                                             }
                                                                                                    }
                                                                                    }
                                                                        }
                                                      }
                                         },
                  "/api/v1/auth/refresh":  {
                                               "post":  {
                                                            "tags":  [
                                                                         "Authentication"
                                                                     ],
                                                            "summary":  "Refresh Token",
                                                            "description":  "Refresh access token using refresh token",
                                                            "operationId":  "refresh_token_api_v1_auth_refresh",
                                                            "responses":  {
                                                                              "200":  {
                                                                                          "description":  "Successful Response",
                                                                                          "content":  {
                                                                                                          "application/json":  {
                                                                                                                                   "schema":  {
                                                                                                                                                  "$ref":  "#/components/schemas/Token"
                                                                                                                                              }
                                                                                                                               }
                                                                                                      }
                                                                                      },
                                                                              "400":  {
                                                                                          "description":  "Bad Request",
                                                                                          "content":  {
                                                                                                          "application/json":  {
                                                                                                                                   "schema":  {
                                                                                                                                                  "$ref":  "#/components/schemas/ErrorResponse"
                                                                                                                                              },
                                                                                                                                   "example":  {
                                                                                                                                                   "success":  false,
                                                                                                                                                   "error":  {
                                                                                                                                                                 "code":  "BAD_REQUEST",
                                                                                                                                                                 "message":  "Missing required parameter: product"
                                                                                                                                                             }
                                                                                                                                               }
                                                                                                                               }
                                                                                                      }
                                                                                      }
                                                                          }
                                                        }
                                           },
                  "/api/v1/auth/me":  {
                                          "get":  {
                                                      "tags":  [
                                                                   "Authentication"
                                                               ],
                                                      "summary":  "Get Current User Profile",
                                                      "description":  "Get current user profile\nRequires authentication",
                                                      "operationId":  "get_current_user_profile_api_v1_auth_me",
                                                      "responses":  {
                                                                        "200":  {
                                                                                    "description":  "Successful Response",
                                                                                    "content":  {
                                                                                                    "application/json":  {
                                                                                                                             "schema":  {
                                                                                                                                            "$ref":  "#/components/schemas/UserResponse"
                                                                                                                                        }
                                                                                                                         }
                                                                                                }
                                                                                },
                                                                        "400":  {
                                                                                    "description":  "Bad Request",
                                                                                    "content":  {
                                                                                                    "application/json":  {
                                                                                                                             "schema":  {
                                                                                                                                            "$ref":  "#/components/schemas/ErrorResponse"
                                                                                                                                        },
                                                                                                                             "example":  {
                                                                                                                                             "success":  false,
                                                                                                                                             "error":  {
                                                                                                                                                           "code":  "BAD_REQUEST",
                                                                                                                                                           "message":  "Missing required parameter: product"
                                                                                                                                                       }
                                                                                                                                         }
                                                                                                                         }
                                                                                                }
                                                                                }
                                                                    },
                                                      "security":  [
                                                                       {
                                                                           "OAuth2PasswordBearer":  [

                                                                                                    ]
                                                                       }
                                                                   ]
                                                  },
                                          "put":  {
                                                      "tags":  [
                                                                   "Authentication"
                                                               ],
                                                      "summary":  "Update Profile",
                                                      "description":  "Update current user profile\nRequires authentication",
                                                      "operationId":  "update_profile_api_v1_auth_me",
                                                      "requestBody":  {
                                                                          "content":  {
                                                                                          "application/json":  {
                                                                                                                   "schema":  {
                                                                                                                                  "type":  "object",
                                                                                                                                  "title":  "Updates"
                                                                                                                              }
                                                                                                               }
                                                                                      },
                                                                          "required":  true
                                                                      },
                                                      "responses":  {
                                                                        "200":  {
                                                                                    "description":  "Successful Response",
                                                                                    "content":  {
                                                                                                    "application/json":  {
                                                                                                                             "schema":  {

                                                                                                                                        }
                                                                                                                         }
                                                                                                }
                                                                                },
                                                                        "422":  {
                                                                                    "description":  "Validation Error",
                                                                                    "content":  {
                                                                                                    "application/json":  {
                                                                                                                             "schema":  {
                                                                                                                                            "$ref":  "#/components/schemas/HTTPValidationError"
                                                                                                                                        }
                                                                                                                         }
                                                                                                }
                                                                                },
                                                                        "400":  {
                                                                                    "description":  "Bad Request",
                                                                                    "content":  {
                                                                                                    "application/json":  {
                                                                                                                             "schema":  {
                                                                                                                                            "$ref":  "#/components/schemas/ErrorResponse"
                                                                                                                                        },
                                                                                                                             "example":  {
                                                                                                                                             "success":  false,
                                                                                                                                             "error":  {
                                                                                                                                                           "code":  "BAD_REQUEST",
                                                                                                                                                           "message":  "Missing required parameter: product"
                                                                                                                                                       }
                                                                                                                                         }
                                                                                                                         }
                                                                                                }
                                                                                }
                                                                    },
                                                      "security":  [
                                                                       {
                                                                           "OAuth2PasswordBearer":  [

                                                                                                    ]
                                                                       }
                                                                   ]
                                                  }
                                      },
                  "/api/v1/auth/logout":  {
                                              "post":  {
                                                           "tags":  [
                                                                        "Authentication"
                                                                    ],
                                                           "summary":  "Logout",
                                                           "description":  "Logout endpoint\nIn a production system, you might want to blacklist the token",
                                                           "operationId":  "logout_api_v1_auth_logout",
                                                           "responses":  {
                                                                             "200":  {
                                                                                         "description":  "Successful Response",
                                                                                         "content":  {
                                                                                                         "application/json":  {
                                                                                                                                  "schema":  {

                                                                                                                                             }
                                                                                                                              }
                                                                                                     }
                                                                                     },
                                                                             "400":  {
                                                                                         "description":  "Bad Request",
                                                                                         "content":  {
                                                                                                         "application/json":  {
                                                                                                                                  "schema":  {
                                                                                                                                                 "$ref":  "#/components/schemas/ErrorResponse"
                                                                                                                                             },
                                                                                                                                  "example":  {
                                                                                                                                                  "success":  false,
                                                                                                                                                  "error":  {
                                                                                                                                                                "code":  "BAD_REQUEST",
                                                                                                                                                                "message":  "Missing required parameter: product"
                                                                                                                                                            }
                                                                                                                                              }
                                                                                                                              }
                                                                                                     }
                                                                                     }
                                                                         },
                                                           "security":  [
                                                                            {
                                                                                "OAuth2PasswordBearer":  [

                                                                                                         ]
                                                                            }
                                                                        ]
                                                       }
                                          },
                  "/api/v1/auth/verify":  {
                                              "get":  {
                                                          "tags":  [
                                                                       "Authentication"
                                                                   ],
                                                          "summary":  "Verify Token",
                                                          "description":  "Verify email or token\n- If code provided: verify email verification code\n- If no code: verify current token (requires auth)",
                                                          "operationId":  "verify_token_api_v1_auth_verify",
                                                          "security":  [
                                                                           {
                                                                               "OAuth2PasswordBearer":  [

                                                                                                        ]
                                                                           }
                                                                       ],
                                                          "parameters":  [
                                                                             {
                                                                                 "name":  "code",
                                                                                 "in":  "query",
                                                                                 "required":  false,
                                                                                 "schema":  {
                                                                                                "anyOf":  [
                                                                                                              {
                                                                                                                  "type":  "string"
                                                                                                              },
                                                                                                              {
                                                                                                                  "type":  "null"
                                                                                                              }
                                                                                                          ],
                                                                                                "description":  "Verification code from email",
                                                                                                "title":  "Code"
                                                                                            },
                                                                                 "description":  "Verification code from email"
                                                                             }
                                                                         ],
                                                          "responses":  {
                                                                            "200":  {
                                                                                        "description":  "Successful Response",
                                                                                        "content":  {
                                                                                                        "application/json":  {
                                                                                                                                 "schema":  {

                                                                                                                                            }
                                                                                                                             }
                                                                                                    }
                                                                                    },
                                                                            "422":  {
                                                                                        "description":  "Validation Error",
                                                                                        "content":  {
                                                                                                        "application/json":  {
                                                                                                                                 "schema":  {
                                                                                                                                                "$ref":  "#/components/schemas/HTTPValidationError"
                                                                                                                                            }
                                                                                                                             }
                                                                                                    }
                                                                                    },
                                                                            "400":  {
                                                                                        "description":  "Bad Request",
                                                                                        "content":  {
                                                                                                        "application/json":  {
                                                                                                                                 "schema":  {
                                                                                                                                                "$ref":  "#/components/schemas/ErrorResponse"
                                                                                                                                            },
                                                                                                                                 "example":  {
                                                                                                                                                 "success":  false,
                                                                                                                                                 "error":  {
                                                                                                                                                               "code":  "BAD_REQUEST",
                                                                                                                                                               "message":  "Missing required parameter: product"
                                                                                                                                                           }
                                                                                                                                             }
                                                                                                                             }
                                                                                                    }
                                                                                    }
                                                                        }
                                                      }
                                          },
                  "/api/v1/auth/password-reset/request":  {
                                                              "post":  {
                                                                           "tags":  [
                                                                                        "Authentication"
                                                                                    ],
                                                                           "summary":  "Request Password Reset",
                                                                           "description":  "Request a password reset email\n\nAlways returns success to prevent email enumeration",
                                                                           "operationId":  "request_password_reset_api_v1_auth_password-reset_request",
                                                                           "requestBody":  {
                                                                                               "content":  {
                                                                                                               "application/json":  {
                                                                                                                                        "schema":  {
                                                                                                                                                       "$ref":  "#/components/schemas/PasswordResetRequest"
                                                                                                                                                   }
                                                                                                                                    }
                                                                                                           },
                                                                                               "required":  true
                                                                                           },
                                                                           "responses":  {
                                                                                             "200":  {
                                                                                                         "description":  "Successful Response",
                                                                                                         "content":  {
                                                                                                                         "application/json":  {
                                                                                                                                                  "schema":  {
                                                                                                                                                                 "$ref":  "#/components/schemas/api__schemas__common__ApiResponse"
                                                                                                                                                             }
                                                                                                                                              }
                                                                                                                     }
                                                                                                     },
                                                                                             "422":  {
                                                                                                         "description":  "Validation Error",
                                                                                                         "content":  {
                                                                                                                         "application/json":  {
                                                                                                                                                  "schema":  {
                                                                                                                                                                 "$ref":  "#/components/schemas/HTTPValidationError"
                                                                                                                                                             }
                                                                                                                                              }
                                                                                                                     }
                                                                                                     },
                                                                                             "400":  {
                                                                                                         "description":  "Bad Request",
                                                                                                         "content":  {
                                                                                                                         "application/json":  {
                                                                                                                                                  "schema":  {
                                                                                                                                                                 "$ref":  "#/components/schemas/ErrorResponse"
                                                                                                                                                             },
                                                                                                                                                  "example":  {
                                                                                                                                                                  "success":  false,
                                                                                                                                                                  "error":  {
                                                                                                                                                                                "code":  "BAD_REQUEST",
                                                                                                                                                                                "message":  "Missing required parameter: product"
                                                                                                                                                                            }
                                                                                                                                                              }
                                                                                                                                              }
                                                                                                                     }
                                                                                                     }
                                                                                         }
                                                                       }
                                                          },
                  "/api/v1/auth/password-reset/validate":  {
                                                               "post":  {
                                                                            "tags":  [
                                                                                         "Authentication"
                                                                                     ],
                                                                            "summary":  "Validate Reset Token",
                                                                            "description":  "Validate if a reset token is still valid",
                                                                            "operationId":  "validate_reset_token_api_v1_auth_password-reset_validate",
                                                                            "parameters":  [
                                                                                               {
                                                                                                   "name":  "token",
                                                                                                   "in":  "query",
                                                                                                   "required":  true,
                                                                                                   "schema":  {
                                                                                                                  "type":  "string",
                                                                                                                  "title":  "Token"
                                                                                                              }
                                                                                               }
                                                                                           ],
                                                                            "responses":  {
                                                                                              "200":  {
                                                                                                          "description":  "Successful Response",
                                                                                                          "content":  {
                                                                                                                          "application/json":  {
                                                                                                                                                   "schema":  {
                                                                                                                                                                  "$ref":  "#/components/schemas/api__schemas__common__ApiResponse"
                                                                                                                                                              }
                                                                                                                                               }
                                                                                                                      }
                                                                                                      },
                                                                                              "422":  {
                                                                                                          "description":  "Validation Error",
                                                                                                          "content":  {
                                                                                                                          "application/json":  {
                                                                                                                                                   "schema":  {
                                                                                                                                                                  "$ref":  "#/components/schemas/HTTPValidationError"
                                                                                                                                                              }
                                                                                                                                               }
                                                                                                                      }
                                                                                                      },
                                                                                              "400":  {
                                                                                                          "description":  "Bad Request",
                                                                                                          "content":  {
                                                                                                                          "application/json":  {
                                                                                                                                                   "schema":  {
                                                                                                                                                                  "$ref":  "#/components/schemas/ErrorResponse"
                                                                                                                                                              },
                                                                                                                                                   "example":  {
[...]
